
<!-- format for each comment -->

<div class="comment-text">
  <p>
    <%= comment.body %>
  </p>
</div>
<div class="comment-footer">
  
comment at <%= comment.created_at.to_date %>
by
<% if comment.user %>
    <%= link_to comment.user.login, user_path(comment.user) %>
<% else %>
   <%= comment.commenter %> <!-- shoud be @post.username-->
<% end %>
</div>

<hr />
