body {
    background-color: #A9F5F2;
    color: #000000;
    background-image: url(/images/bg_light_blue.png);

    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    font-family: Pmingliu,verdana,arial,sans-serif;font-size:12px;
    /*
      font-family: Verdana, Arial, Helvetica, "Trebuchet MS", Tahoma, Geneva, "Lucida Sans Unicode", "Lucida Grande", "MS Sans Serif", sans-serif;
    */

    line-height: 18px;
}

/*for hr*/
#rule_header{
    margin-bottom: 60px;
    
}
h1 {font-size: 250%}

body, p, ol, ul, td {

}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

img {
    max-height: 320px;
    max-width: 480px;
    overflow: hidden;
}


.post-page{
    
	
	/*background-repeat: repeat ;*/
	
    position: absolute;
    /*
    top: 70px;*/
    left: 50px;
    width: 80%;
    /*
	border-left: solid 1px black;
    border-right: solid 1px black;
	*/
    margin:  0 10px;
    padding: 0 10px;

}

.post-summary{
    background-image: url(/images/post_bg.png);
    font-size: 120%;
    font-style: italic;
    width: 96%;
    /*
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    margin-top: 4%;
    */
}

.post-header{

   /*use the box model as  indication*/

    border-left:2px solid gray;
    border-right:2px solid gray;
    border-top:2px solid gray;
    /*border-bottom:2px solid gray;*/
    font-weight: bolder;
    margin-top: 0px;
    padding-top: 0px;
    /*width: 60%;*/
    height: 28px; /* carefully selected */
}

#main{
    width: 70%;
}
.post-header a{
    display: block;
    text-decoration: none ;
}

.post-text{
    /*use the box model as  indication*/
    border-left:2px solid gray;
    border-right:2px solid gray;
    border-bottom:2px solid gray;
    border-top:2px solid gray;
    background-image: url(/images/post_bg.png);
    background-color: #EEF3E2;
    margin-bottom: 40px;
   /*width: 96%;*/
   /* padding: 10px;*/

}

.comment-text{
    background-color: #ececec;
    width: 450px;
    padding: 10px;
}

.comment-footer{
    background: url(/images/comment_arrow.gif) 20px 0 no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
    padding-left: 58px;
    padding-top: 1px;
    margin-bottom: 2em;
    font-size: 90%;
    color: #4A4A4A;
}

.post{


}

.post-tag{
    display: inline;
    font-size: 10px;
}
.tags{
    font-size: 40%;
}

a { color: #000; }
a:visited { color: #666; }
a:hover {
    color: #fff;
    background-color: orange;
}

div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

span.intive_to_register{
    font-size: 10px;
    font-style: italic;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

#header{
    /*margin-bottom:  10%;*/
    /*border: solid 1px black;*/
    /*background: red;*/
    height: 25px;
    /*background-color: black;*/
    color: red;
    font-size: 12px;
    /*float :right;*/
}

#side_bar{

    background-color: red;
    width: 20%;
    float: right;
    height: 80%;
}
#footer{
    clear:both;
    /*width:776px;*/
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    height:60px;
    text-align: center;
}

#user_nav{

   /* background-color: black;*/
    float: right;
    /*
    left:150px;
    position: fixed;*/

}

#site_nav{

    float: right;
    left:700px;
    top: 100px;
    position: fixed;
    list-style-type: none;
}

#site_nav li{
    display: inline;
}
#site_nav ul li a {
    padding: 5px 20px;
    margin: 0px 2px;
    border: 1px solid #666;
    background-color: #ccc;
    text-decoration: none;
    text-align: center;
    
}
#rails_icon{
    max-height: 10px;
}

.vote-info{

}

.vote-info .like-icon {
    display: block;
    background-color: transparent;
    background-image: url(/images/like-icon.png);
    background-repeat: no-repeat;
    text-indent: -900%;
    border: none;
}

.vote-info .dislike-icon
{
    display: block;
    background-color: transparent;
    background-image: url(/images/dislike-icon.png);
    background-repeat: no-repeat;
    border: none;
    text-indent: -900%;

}
.vote-info .like-icon.active
{
    display: block;
    background-color: transparent;
    background-image: url(/images/like-icon-active.png);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border: none;
    text-indent: -900%;

}

.vote-info .dislike-icon.active
{
    display: block;
    background-color: transparent;
    background-image: url(/images/dislike-icon-active.png);
    background-repeat: no-repeat;
    text-indent: -900%;
    border: none;

}



