<p id="notice"><%= notice %></p>


<p>
  This is the Profile of <strong><%= @user.login %></strong>
</p>


<% if current_user == @user %>
  <%= link_to 'edit profile', edit_user_path(:current) %>
<% end %>
