

- posts.each do |post|
    %div.post-header
        = render 'posts/post_date' , :post=>post
        %div.post-title
            = link_to post.title , post
    %div.post-text
        %p= raw(post.html_content)
-# don't show tags in summary
-#    %div.tags
-#        - post.tags.each do |tag|
-#            %div.post-tag= link_to tag.name, tag_path(tag.name)


-#              = post.happen_at.month.to_s.strip+"月"
