%div.post-happen-at
    %div.post-happen-at-year
        %p= post.happen_at.year
    %span.post-happen-at-month
        = post.happen_at.month.to_s
    %span.post-happen-at-day
        = post.happen_at.day.to_s