%div.post-happen-at
    %div.post-happen-at-year
        %p= post.happen_at.year
    %span.post-happen-at-month
        = ('%02d' % post.happen_at.month) + "/"
    %span.post-happen-at-day
        = ('%02d' % post.happen_at.day )
