



<table>

<% @posts.each do |post| %>

  <div class="post-summary">
      <%= link_to post.title , post %>
      <% if false %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
  </div>

<% end %>
 
  
</table>

<br />




