<!DOCTYPE html>
<html>
<head>
  <title>Yy</title>
  <%= stylesheet_link_tag 'yy'%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="post-page">



<%= yield %>

</body>
</html>
